<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <!-- PAGE INFO-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <title>RickAndMorty</title>

    <!-- ICONS -->
    <link rel="stylesheet" href="assets/fonts/style.css" />

    <!-- SWIPER -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!--STYLES-->
    <link rel="stylesheet" href="style.css" />

    <!-- FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- FAVICON -->
    <link rel="icon" href="/assets/img/favicon.png" />
  </head>

  <body onload="boasVindas()">
    <!---MENU--->
    <header id="header">
      <nav class="container">
        <a class="logo" href="#"><span>Rick</span> and <span>Morty</span></a>
        <div class="menu">
          <ul class="grid">
            <li><a class="title" href="#home">Início</a></li>
            <li><a class="title" href="#about">Sobre</a></li>
            <li><a class="title" href="#services">Temporadas</a></li>
            <li><a class="title" href="#testimonials">Depoimentos</a></li>
            <li><a class="title" href="#contact">Criadores</a></li>
          </ul>
        </div>

        <div class="toogle icon-close"></div>
        <div class="toogle icon-menu"></div>
      </nav>
    </header>

    <!-- HOME --->
    <main>
      <section class="section" id="home">
        <div class="container grid">
          <div class="image">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-9j8-t39Znnw%2FUynS5sVixWI%2FAAAAAAAAAI0%2FUwokSwAWmMA%2Fs1600%2Frickandmorty.png&f=1&nofb=1"
              alt="Imagem mostra a sala com os personagens do desenho Rick and Morty reunidos"
            />
          </div>
          <div class="text">
            <h2 class="title">Rick and Morty</h2>
            <p>
              Uma série animada que acompanha as façanhas de um supercientista e seu neto não tão brilhante..
            </p>
            <a
              class="button"
              href="https://www.adultswim.com/videos/rick-and-morty/"
              >Saiba Mais
            </a>
          </div>
        </div>
      </section>

      <div class="divider-1"></div>

      <!-- ABOUT -->
      <section class="section" id="about">
        <div class="container grid">
          <div class="image">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-mqJI04W-E4Y%2FWZTDM8qMUmI%2FAAAAAAAAvho%2F0jDoq-uucKIjW1_SRUjsHA1jS10OTC4RwCLcBGAs%2Fs1600%2FRick%252Band%252BMorty%252B%252B3x04%252B-%252BVindicators%252B3%252BThe%252BReturn%252Bof%252BWorldender%252B-%252BSupernova.jpg&f=1&nofb=1"
              alt="Rick and Morty e ao fundos outros personagens em uma festa."
            />
          </div>
          <div class="text">
            <h2 class="title">Sobre</h2>
            <p>
              Rick e Morty é uma sitcom americana de ficção científica animada para adultos criada por Justin Roiland e Dan Harmon para o bloco de programação noturno Adult Swim do Cartoon Network. 
              A série segue as desventuras do cínico cientista louco Rick Sanchez e seu neto de bom coração, mas inquieto, Morty Smith, que dividem seu tempo entre a vida doméstica e aventuras interdimensionais.
            </p>
          </div>
        </div>
      </section>

      <div class="divider-2"></div>

      <!-- SERVICES -->
      <section class="section" id="services">
        <div class="container grid" id="app">
          <header>
            <h2 class="title">Temporadas</h2>
            <p class="subtitle">
              Com 7 temporadas lançadas, <strong>Rick and Morty</strong> já
              conquistou milhares de fãs em inúmeros países, informações que já
              está renovado para a 8ª temporada.
            </p>
          </header>

          <div class="cards grid" class="characters">
            <div class="card" class="item" v-for="item of characters">
              <i class="icon-woman-hair"></i>
              <h3 class="title">{{item.name}}</h3>
              <p>{{item.bio}}</p>
              <iframe
                id="play"
                width="560"
                height="315"
                :src="item.link" :alt="item.brokenLink"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>

      <div class="divider-1"></div>

      <!-- TESTIMONIALS -->
      <section class="section" id="testimonials">
        <div class="container">
          <header>
            <h2 class="title">O que os fãs estão comentando</h2>
          </header>
          <div class="testimonials swiper-container">
            <div class="swiper-wrapper" class="testimonials">
              <div class="testimonials swiper-slide" v-for="item of testimonials">
                <blockquote>
                  <p>
                    <span>&ldquo;</span>
                    {{item.comments}}
                  </p>
                  <cite>
                    <img :src="item.avatar" :alt="item.textAlt" />
                    {{item.name}}
                  </cite>
                </blockquote>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>

      <div class="divider-2"></div>

      <!-- CONACT -->
      <section class="section" id="contact">
        <div class="container grid">
          <div class="text">
            <h2 class="title">Criadores da Série!</h2>
            <p>
              A série criada por <span>Roiland</span> e
              <span>Dan Harmon</span> para o bloco de programação noturno Adult
              Swim, exibido no canal Cartoon Network.
            </p>
            <a
              href="https://www.adultswim.com/videos/rick-and-morty/"
              class="button"
              target="blank"
            >
              <i class="icon-whatsapp"></i>Saiba Mais</a
            >
          </div>
        </div>
      </section>

      <div class="divider-1"></div>
    </main>
    <!---RODAPÉ--->
    <footer class="section">
      <div class="container grid">
        <div class="brand">
          <a class="logo logo-alt" href="#home"
            ><span>Rick</span>and<span>Morty</span>.</a
          >
          <p><a href="https://kow-dev.netlify.app/">©2021 KiraOliveira.</p></a>
          <p>Todos os direitos reservados.</p>
        </div>
        <div class="social">
          <a href="https://www.instagram.com/rickandmorty/" target="blank"
            ><i class="icon-instagram"></i
          ></a>
          <a
            href="https://web.facebook.com/RickandMorty?_rdc=1&_rdr"
            target="blank"
            ><i class="icon-facebook"></i
          ></a>
          <a href="https://twitter.com/rickandmorty" target="blank"
            ><i class="icon-twitter"></i
          ></a>
        </div>
      </div>
    </footer>

    <a href="#home" class="back-to-top"><i class="icon-arrow-up"></i></a>

    <!-- MAIN INTERAÇÃO JS-->
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <!-- SWIPER -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- SCROLLREVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>
  </body>
</html>
